@keyframes title-animation {
  0% {
    font-size: 34rpx;
  }
  100% {
    font-size: 38rpx;
  }
}

.login-wrap {
  padding: 48rpx 34rpx 30rpx;
  min-height: 620rpx;
  background-color: #fff;
  border-radius: 20rpx 20rpx 0 0;
}

.head-box {
  &.auth-head {
    margin-bottom: 58rpx;
  }
  .head-title {
    margin-right: 24rpx;
    font-size: 38rpx;
    font-weight: bold;
    color: #333333;
    line-height: 44rpx;
  }
  .head-title-active {
    margin-right: 24rpx;
    font-size: 34rpx;
    font-weight: 700;
    color: #888888;
    line-height: 44rpx;
  }
  .head-title-animation {
    animation-name: title-animation;
    animation-duration: 0.1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  .head-title-line {
    position: relative;
  }
  .head-subtitle {
    font-size: 28rpx;
    font-weight: 500;
    color: #afb6c0;
    text-align: left;
    display: flex;
    line-height: 38rpx;
  }
}

.auth-form {
  :deep(.uni-forms-item) {
    margin-bottom: 50rpx;
  }
  :deep(.uni-forms-item__label) {
    height: 58rpx;
    line-height: 58rpx;
    font-size: 30rpx;
    font-weight: 500;
    color: #333333;
  }
  :deep(.uni-easyinput__content) {
    min-height: 58rpx;
    background-color: transparent !important;
  }
  :deep(.uni-easyinput__content-input) {
    height: 58rpx;
    line-height: 58rpx;
    font-size: 30rpx;
  }
  :deep(.uni-input-placeholder),
  :deep(.input-placeholder) {
    color: #b8b8b8;
    font-size: 30rpx;
  }
}

// .code-btn[disabled] {
// 	background-color: #fff;
// }
.code-btn-start {
  width: 180rpx;
  height: 58rpx;
  line-height: normal;
  border: 0;
  border-radius: 0;
  font-size: 30rpx;
  font-weight: 400;
  color: #333333;
  opacity: 1;
  background: transparent;
}

.forgot-btn {
  width: 160rpx;
  line-height: 56rpx;
  font-size: 30rpx;
  font-weight: 500;
  color: #999;
}

.login-btn-start {
  width: 158rpx;
  height: 56rpx;
  line-height: normal;
  background: linear-gradient(90deg, var(--ui-BG-Main), var(--ui-BG-Main-gradient));
  border-radius: 28rpx;
  font-size: 26rpx;
  font-weight: 500;
  color: #fff;
}

.auth-submit-btn {
  width: 100%;
  height: 76rpx;
  line-height: 76rpx;
  margin: 18rpx 0 0;
  border-radius: 38rpx;
  background: linear-gradient(90deg, var(--ui-BG-Main), var(--ui-BG-Main-gradient));
  color: #ffffff;
  font-size: 30rpx;
  font-weight: 500;
}

.type-btn {
  padding: 20rpx;
  margin: 40rpx auto;
  width: 200rpx;
  font-size: 30rpx;
  font-weight: 500;
  color: #999999;
}

.auto-login-box {
  width: 100%;
  .auto-login-btn {
    width: 68rpx;
    height: 68rpx;
    border-radius: 50%;
    margin: 0 30rpx;
  }
  .auto-login-img {
    width: 68rpx;
    height: 68rpx;
    border-radius: 50%;
  }
}

.agreement-box {
  margin: 58rpx auto 0;
  .protocol-check {
    transform: scale(0.7);
  }
  .agreement-text {
    font-size: 28rpx;
    font-weight: 500;
    color: #999999;
    .tcp-text {
      color: var(--ui-BG-Main);
    }
  }
}

// 修改密码
.editPwd-btn-box {
  .save-btn {
    width: 690rpx;
    line-height: 70rpx;
    background: linear-gradient(90deg, var(--ui-BG-Main), var(--ui-BG-Main-gradient));
    border-radius: 35rpx;
    font-size: 28rpx;
    font-weight: 500;
    color: #ffffff;
  }
  .forgot-btn {
    width: 690rpx;
    line-height: 70rpx;
    font-size: 28rpx;
    font-weight: 500;
    color: #999999;
  }
}
